@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');
@font-face {
    font-family: 'android' ;
    src: url('idroid.otf') format('opentyper');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: #84E1AD;
}

header{
    background-image: linear-gradient(to bottom, #71f7ad, #2cac66, #126336);
}

header h1{
    font: 23px 'Roboto', sans-serif;
    text-align: center;
    padding-top: 25px;
    color: white;
}


#paragaph{
    text-align: center;
    color: rgba(255, 255, 255, 0.692);
    padding-top: 30px;
    font-size: 15px;
}

nav ul{
    padding-bottom: 7px;
    font: bolder 15px 'Roboto', sans-serif;

}

nav ul li{
    display: inline;
    padding: 10px;
    
}

nav ul li a{
    text-decoration: none;
    color: rgb(247, 243, 243);
}

nav ul li a:hover{
    color: rgba(4, 29, 255, 0.493);
}

.links{
    text-decoration: none;
    color: green;
    font-weight: bolder;
}

.links:hover{
    color: rgb(50, 68, 226);
    text-decoration: underline;
}

main{
    margin: auto;
    background-color: white;
    width: 900px;
    border-radius: 0px 0px 10px 10px ;
    box-shadow: 7px 7px 11px 0px rgba(0, 0, 0, 0.192); 
}

.sec1{
    padding: 15px;  
}

.subt{
    font-family:'Roboto', sans-serif;
    color: rgb(3, 80, 3);
    background-image: linear-gradient(to right , #00800033, #06ff0618, #06ff0607);
}

p{
    padding: 10px;
    text-align: justify;
    text-indent: 30px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px ;
}

strong{
    color: green;
}

.midia{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 li{
    display: block;   
}

#tabela1{ 
  display: inline-block;
  padding: 15px;
}

#tabela2{
    float: right;  
}

#titabela{
    background-color: #2fa866;
    color: rgba(255, 255, 255, 0.925);
    font-size: 20px ;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

#tabela{
    font-family: 'Roboto' sans-serif;
    background-color: #c5ebd6;
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px ;
}

footer{
    background-color: green;
    color: honeydew;
    margin-top: 17px;   
}

footer p{
    text-align: center;
    font-size: 15px;
}


