@charset  "UTF-8";

body{


    background-color: rgb(109, 103, 103);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

h1{
    color:rgb(214, 200, 200);
    

}
p{
    text-align: justify;

}